@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;600&display=swap");

:root {
  --secondary-font: "Josefin Sans";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  padding: 60px 0;
}
